.nav {
    width: 100%;
    height: auto;
}

.carousel-item {
    color: #FFF;
    text-align: center;
    font-size: 20px;
}
.carousel {
    background: no-repeat;
}

.nav-wrapper {
    color: red;
}